{% extends 'base.html.twig' %}

{% block body %}

  <h1 class="text-4xl font-bold text-center dark:text-mak">Ajout d'une fiche</h1>

  <div class="w-full max-w-160">{{ form(addFish) }}</div>

{% endblock %}