{% extends 'base.html.twig' %}

{% block title %}Fiches{% endblock %}

{% block body %}
    <div class="mt-4 w-1/2 mx-auto text-center">
        <div>
            <h1 class="text-4xl font-bold mb-3 text-blue-700 dark:text-blue-500">Les poissons</h1>
            <p class="dark:text-white">Retrouvez l'ensemble des fiches techniques (paramètres, cohabitation, nourriture et bien plus) pour une maintenance idéale en aquarium au travers d'un moteur de recherche vous permettant de trouver votre population idéale.</p>
        </div>
    </div>


    <div class="mt-4 mb-3 w-full">
        {# BARRE DE RECHERCHE #}
        <div>
            {% include 'search/searchBar.html.twig' with {
                'searchForm': searchForm
            } only %}
        </div>

        {# AJOUT D'UN POISSON #}
        <div class="text-right mb-4 mr-4"> 
            <a href="{{ path ('fishes_add') }}" class="px-4 py-3 text-white text-sm font-medium no-underline bg-blue-700 rounded-lg hover:bg-blue-800 hover:underline hover:text-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Ajouter un poisson</a>
        </div>
    </div>


    <div class="flex">
        {# MENU LATERAL #}
        {{ include('sidemenu.html.twig') }}
                        
        
        {# FICHES DES POISSONS #}
        <div class="mt-4 w-full">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">

                {% for fish in fishes %}
                    {% include 'fish/card.html.twig' with {'fish': fish} %}
                {% endfor %}
                        
            </div>
        </div> 
    </div>

{% endblock %}
