<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
        
    </head>
    <body class="container mx-auto px-4 bg-white dark:bg-green-950 dark:text-white">

        <header>

            {{ include('nav.html.twig') }}

        </header>


        {% block body %}


        {% endblock %}

        <footer class="container bg-white rounded-lg shadow dark:bg-gray-900">
            <div class="w-full max-w-screen-xl mx-auto my-4">
                <div class="sm:flex sm:justify-end sm:items-center">
                    <ul class="sm:flex-row sm:flex-wrap sm:items-center sm:justify-end flex flex-col items-center text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                        <li class="mb-4 sm:mb-0">
                            <a href="#" class="hover:underline me-4 md:me-6">Politique de confidentialité</a>
                        </li>
                        <li class="mb-4 sm:mb-0">
                            <a href="#" class="hover:underline me-4 md:me-6">Mentions légales</a>
                        </li>
                        <li class="mb-4 sm:mb-0">
                            <a href="#" class="hover:underline">Contact</a>
                        </li>
                        <a href="{{path('homepage')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
                            <img src="{{ asset('images/AquaDico_Logo.png') }}" class="h-24" alt="AquaDico Logo" />
                        </a>
                    </ul>
                </div>
            </div>
            <hr class=" border-gray-200 sm:mx-auto dark:border-gray-700" />
            <span class="block m-4 text-sm text-gray-500 text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">AquaDico</a>. All Rights Reserved.</span>
            </div>
        </footer>

        </body>
</html>
